includeConfig 'conf/modules.config'

params {
    samplesheet   = null
    publish_dir   = null
    analysis_name = null
    min_depth     = 10
    min_qmap      = 20
    min_qual      = 20
    reads_dir     = null
    ref_dir       = null
}

outputDir = "${params.publish_dir}/${params.analysis_name}"

process {
    executor = 'local'
}

profiles {
    standard {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.executor = 'local'
    }
}