includeConfig 'conf/modules.config'

outputDir = "/Users/pauline.fourgoux/Code/output_test/"

params {
    samplesheet = "${projectDir}/assets/samplesheet.csv"
    min_depth = 10
    min_qmap = 20
    min_qual = 20
    reads_dir = "/Users/pauline.fourgoux/Desktop/OneDrive_1_27-03-2026/"
    ref_dir = "/Users/pauline.fourgoux/Desktop/OneDrive_1_27-03-2026/"
}

process {
    executor = 'local'
}

profiles {
    standard {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.executor = 'local'
    }
}