conda {
    enabled = true
}

process {
    withLabel: fastqc {
        conda = 'bioconda::fastqc=0.12.1'
    }

    withLabel: fastp {
        conda = 'bioconda::fastp=0.23.4'
        ext.args = '--trim_poly_g --trim_poly_x --adapter_sequence AGATCGGAAGAGCACACGTCTGAACTCCAGTCA --adapter_sequence_r2 AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
    }

    withLabel: bwa {
        conda = 'bioconda::bwa=0.7.18'
    }

    withLabel: bwa_samtools {
        conda = 'bioconda::bwa=0.7.18 bioconda::samtools=1.20'
    }

    withLabel: samtools {
        conda = 'bioconda::samtools=1.20'
    }

    withLabel: bcftools {
        conda = 'bioconda::bcftools=1.20'
    }

    withLabel: multiqc {
        conda = 'bioconda::multiqc=1.33'
    }
    
    withLabel: process_high {
        cpus = 4
        memory = '8 GB'
    }
}
