// conda / docker enablement is decided by the active profile in nextflow.config.
// Each label declares BOTH a conda spec and a matching container image so either
// profile works. Container tags mirror the pinned conda versions and are built
// from containers/<label>/Dockerfile via containers/build.sh.

process {
    withLabel: fastqc {
        conda = 'bioconda::fastqc=0.12.1'
        container = "${params.container_registry}/fastqc:0.12.1"
    }

    withLabel: fastp {
        conda = 'bioconda::fastp=0.23.4'
        container = "${params.container_registry}/fastp:0.23.4"
        ext.args = '--trim_poly_g --trim_poly_x --adapter_sequence AGATCGGAAGAGCACACGTCTGAACTCCAGTCA --adapter_sequence_r2 AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
    }

    withLabel: bwa {
        conda = 'bioconda::bwa=0.7.18'
        container = "${params.container_registry}/bwa:0.7.18"
    }

    withLabel: bwa_samtools {
        conda = 'bioconda::bwa=0.7.18 bioconda::samtools=1.20'
        container = "${params.container_registry}/bwa_samtools:0.7.18-1.20"
    }

    withLabel: samtools {
        conda = 'bioconda::samtools=1.20'
        container = "${params.container_registry}/samtools:1.20"
    }

    withLabel: bcftools {
        conda = 'bioconda::bcftools=1.20'
        container = "${params.container_registry}/bcftools:1.20"
    }

    withLabel: bigwig {
        conda = 'bioconda::bedtools=2.31.1 bioconda::ucsc-bedgraphtobigwig=482'
        container = "${params.container_registry}/bigwig:2.31.1"
    }

    withLabel: multiqc {
        conda = 'bioconda::multiqc=1.33'
        container = "${params.container_registry}/multiqc:1.33"
    }
    
    withLabel: process_high {
        cpus = 4
        memory = '8 GB'
    }
}
